# CS 484 :: Data Mining :: George Mason University :: Spring 2023


# Air Quality in India Before and After COVID-19 Pandemic

**Team Name: Frack Yeah!**

**Team Members**:
  - Manasi Mudumbai
    - **NetID**: mmudumba
    - **email**: mmudumba@gmu.edu
    - **G#**: G01199180
  - Hima Bindu Mudda
    - **NetID**: hmudda
    - **email**: hmudda@gmu.edu
    - **G#**: G01212598
  - Sami Bekuma
    - **NetID**: sbekuma
    - **email**: sbekuma@gmu.edu
    - **G#**: G01333955
  - Soban Ali
    - **NetID**: sali60
    - **email**: sali60@gmu.edu 
    - **G#**: G01176334

# Background and Motivation

Our group memeber, Sami, came across this article:
https://www.cnn.com/2021/03/16/health/world-air-quality-report-intl-hnk-scn/index.html
which discussed how the COVID-19 pandemic improved air quality in many countries across the world. Seeing this difference was eye-opening to us, so we decided to dig deeper into the overall effect of the pandemic for air quality.

# Goal

The goal of this project is to use data mining techniques to identify trends in air quality in urban areas of India to develop predictive models that estimate the level of pollution based on COVID-19 pandemic countermeasures.

The focus of this study is to examine how overall air quality has been impacted since before and after mass shutdowns and other pandemic-prevention activities. The study will provide information on the specific details of the data used, as well as the dependent and independent variables involved.

# Dataset
The dataset we will be using for tracking air quality is: 
https://www.kaggle.com/datasets/fedesoriano/air-quality-data-in-india?resource=download 
This dataset contains hourly air quality (PM2.5) information from November 2017 to June 2022. PM2.5 is the fine particulate matter air pollutant level in air. We believe this will be an accurate measure for how healthy air quality is, and see how the data trends. 


The dataset we will be using for tracking COVID-19 cases is:
https://ourworldindata.org/coronavirus/country/india 
This dataset contains information from all over the world regarding COVID-19. The columns we will be using to filter are Location ("India"), Date, and Total Cases

# Part 1: Plot data to see physical trends

The first part we'd like to complete is to physically see the data trends over time. 

First, we want to put our air quality dataset into a dataframe:

In [23]:
# write code here
import numpy as np
import pandas as pd
data_frame = pd.read_csv('air-quality-india.csv')
# Convert the timestamp to a datetime object and extract the date
data_frame['Timestamp'] = pd.to_datetime(data_frame['Timestamp'])
data_frame['date'] = data_frame['Timestamp'].dt.date
data_frame = data_frame.drop(["Timestamp", "Year", "Month", "Day", "Hour"], axis=1)
data_frame.head()

    PM2.5        date
0   64.51  2017-11-07
1   69.95  2017-11-07
2   92.79  2017-11-07
3  109.66  2017-11-07
4  116.50  2017-11-07

To get a better approximation for our data, we're going to average the PM2.5 measurement for the day and use that to plot and compare the data to COVID-19 cases

In [25]:
# write code to average PM2.5 data to have one row for one day
data_frame = data_frame.groupby("date").mean()
data_frame.head()

                 PM2.5
date
2017-11-07   99.805833
2017-11-08  110.979565
2017-11-09  114.915833
2017-11-10  119.404091
2017-11-11  109.267273

To get COVID-19 data specific to India, we wrote code to parse the csv to just the rows containing India

In [26]:
data_frame_two = pd.read_csv('owid-covid-data.csv', usecols=["location", "date", "total_cases", "new_cases"])

df_filtered = data_frame_two[data_frame_two["location"] == "India"]

df_filtered.to_csv("FILTERED-owid-covid-data.csv", encoding='utf-8')

Now that we have the file containing India data from the big COVID-19 data file, we can put it into a data frame

In [30]:
covid_df = pd.read_csv('FILTERED-owid-covid-data.csv')
covid_df.head()

   Unnamed: 0 location        date  total_cases  new_cases
0      121486    India  2020-01-03          NaN        0.0
1      121487    India  2020-01-04          NaN        0.0
2      121488    India  2020-01-05          NaN        0.0
3      121489    India  2020-01-06          NaN        0.0
4      121490    India  2020-01-07          NaN        0.0

# Part 2: Linear Regression

We want to establish a basic understanding of the trend from before and after the pandemic using linear regression

In [2]:
# write code here

# Part 3: Find correlations between air quality and the year it was taken

This way, we can see if COVID-19 precautions influenced air quality or not.

In [3]:
# write code here

# Part 4: Predict air quality based on results

yeah

In [4]:
# write code here