# CS 484 :: Data Mining :: George Mason University :: Spring 2023


# Air Quality in India Before and After COVID-19 Pandemic

**Team Name: Frack Yeah!**

**Team Members**:
  - **Manasi Mudumbai**
    - **NetID**: mmudumba
    - **email**: mmudumba@gmu.edu
    - **G#**: G01199180
  - Hima Bindu Mudda
    - **NetID**: hmudda
    - **email**: hmudda@gmu.edu
    - **G#**: G01212598
  - Sami Bekuma
    - **NetID**: sbekuma
    - **email**: sbekuma@gmu.edu
    - **G#**: G01333955
  - Soban Ali
    - **NetID**: sali60
    - **email**: sali60@gmu.edu 
    - **G#**: G01176334

# Background and Motivation

Our group memeber, Sami, came across this article:
https://www.cnn.com/2021/03/16/health/world-air-quality-report-intl-hnk-scn/index.html
which discussed how the COVID-19 pandemic improved air quality in many countries across the world. Seeing this difference was eye-opening to us, so we decided to dig deeper into the overall effect of the pandemic for air quality.

# Goal

The goal of this project is to use data mining techniques to identify trends in air quality in urban areas of India to develop predictive models that estimate the level of pollution based on COVID-19 pandemic countermeasures.

The focus of this study is to examine how overall air quality has been impacted since before and after mass shutdowns and other pandemic-prevention activities. The study will provide information on the specific details of the data used, as well as the dependent and independent variables involved.

# Dataset
The dataset we will be using is: 
https://www.kaggle.com/datasets/fedesoriano/air-quality-data-in-india?resource=download 

This dataset contains hourly air quality (PM2.5) information from November 2017 to June 2022. PM2.5 is the fine particulate matter air pollutant level in air. We believe this will be an accurate measure for how healthy air quality is, and see how the data trends.

# Part 1: Plot data to see physical trends

The first part we'd like to complete is to physically see the data trends over time. 

First, we want to put it into a dataframe:

In [1]:
# write code here
import numpy as np
import pandas as pd
data_frame = pd.read_csv('air-quality-india.csv')
# Convert the timestamp to a datetime object and extract the date
data_frame['Timestamp'] = pd.to_datetime(data_frame['Timestamp'])
data_frame['date'] = data_frame['Timestamp'].dt.date

data_frame.head()

            Timestamp  Year  Month  Day  Hour   PM2.5        date
0 2017-11-07 12:00:00  2017     11    7    12   64.51  2017-11-07
1 2017-11-07 13:00:00  2017     11    7    13   69.95  2017-11-07
2 2017-11-07 14:00:00  2017     11    7    14   92.79  2017-11-07
3 2017-11-07 15:00:00  2017     11    7    15  109.66  2017-11-07
4 2017-11-07 16:00:00  2017     11    7    16  116.50  2017-11-07

In [2]:
# Filter the COVID-19 data for India
data_frame2 = pd.read_csv('owid-covid-data.csv', usecols=["location", "date", "total_cases"])
# Filter the COVID-19 data for India

data_filtered = data_frame2[data_frame2["location"] == "India"].copy()

# Convert date column to datetime object
data_filtered['date'] = pd.to_datetime(data_filtered['date'])

# Filter data for dates up to and including June 2022
data_filtered = data_filtered.loc[data_filtered['date'] <= pd.Timestamp('2022-06-04')]

# Convert date column back to date object if needed
data_filtered['date'] = data_filtered['date'].dt.date

#data_filtered.head()
data_filtered.tail(10)
# Merge the air-quality data with the COVID-19 data on the date column
merged_data = pd.merge(data_frame, data_filtered[['date', 'total_cases']], on='date', how='left')
# Fill 0 in total_case for the dates before the outbreak of COVID-19
merged_data['total_cases'] = merged_data['total_cases'].fillna(0)
merged_data.tail(48)

,Timestamp,Year,Month,Day,Hour,PM2.5,date,total_cases
36144,2022-06-02 16:00:00,2022,6,2,16,51.41,2022-06-02,43164544.0
36145,2022-06-02 17:00:00,2022,6,2,17,51.20,2022-06-02,43164544.0
36146,2022-06-02 18:00:00,2022,6,2,18,48.83,2022-06-02,43164544.0
36147,2022-06-02 19:00:00,2022,6,2,19,48.86,2022-06-02,43164544.0
36148,2022-06-02 20:00:00,2022,6,2,20,48.32,2022-06-02,43164544.0
36149,2022-06-02 21:00:00,2022,6,2,21,45.79,2022-06-02,43164544.0
36150,2022-06-02 22:00:00,2022,6,2,22,42.61,2022-06-02,43164544.0
36151,2022-06-02 23:00:00,2022,6,2,23,41.27,2022-06-02,43164544.0
36152,2022-06-03 00:00:00,2022,6,3,0,40.70,2022-06-03,43168585.0
36153,2022-06-03 01:00:00,2022,6,3,1,41.06,2022-06-03,43168585.0
36154,2022-06-03 02:00:00,2022,6,3,2,43.76,2022-06-03,43168585.0
36155,2022-06-03 03:00:00,2022,6,3,3,43.58,2022-06-03,43168585.0
36156,2022-06-03 04:00:00,2022,6,3,4,42.04,2022-06-03,43168585.0
36157,2022-06-03 05:00:00,2022,6,3,5,40.99,2022-06-03,43168585.0
36158,2022-06-03 06:00:00,2022,6,3,6,39.95,2022-06-03,43168585.0
36159,2022-06-03 07:00:00,2022,6,3,7,39.60,2022-06-03,43168585.0
36160,2022-06-03 08:00:00,2022,6,3,8,37.69,2022-06-03,43168585.0
36161,2022-06-03 09:00:00,2022,6,3,9,34.04,2022-06-03,43168585.0
36162,2022-06-03 10:00:00,2022,6,3,10,33.33,2022-06-03,43168585.0
36163,2022-06-03 11:00:00,2022,6,3,11,33.79,2022-06-03,43168585.0
36164,2022-06-03 12:00:00,2022,6,3,12,33.84,2022-06-03,43168585.0
36165,2022-06-03 13:00:00,2022,6,3,13,34.29,2022-06-03,43168585.0
36166,2022-06-03 14:00:00,2022,6,3,14,35.33,2022-06-03,43168585.0
36167,2022-06-03 15:00:00,2022,6,3,15,38.85,2022-06-03,43168585.0
36168,2022-06-03 16:00:00,2022,6,3,16,44.90,2022-06-03,43168585.0
36169,2022-06-03 17:00:00,2022,6,3,17,45.60,2022-06-03,43168585.0
36170,2022-06-03 18:00:00,2022,6,3,18,43.93,2022-06-03,43168585.0
36171,2022-06-03 19:00:00,2022,6,3,19,41.97,2022-06-03,43168585.0
36172,2022-06-03 20:00:00,2022,6,3,20,43.31,2022-06-03,43168585.0
36173,2022-06-03 21:00:00,2022,6,3,21,39.61,2022-06-03,43168585.0
36174,2022-06-03 22:00:00,2022,6,3,22,37.45,2022-06-03,43168585.0
36175,2022-06-03 23:00:00,2022,6,3,23,36.60,2022-06-03,43168585.0
36176,2022-06-04 00:00:00,2022,6,4,0,38.80,2022-06-04,43172547.0
36177,2022-06-04 01:00:00,2022,6,4,1,37.94,2022-06-04,43172547.0
36178,2022-06-04 02:00:00,2022,6,4,2,39.91,2022-06-04,43172547.0
36179,2022-06-04 03:00:00,2022,6,4,3,44.31,2022-06-04,43172547.0
36180,2022-06-04 04:00:00,2022,6,4,4,43.65,2022-06-04,43172547.0
36181,2022-06-04 05:00:00,2022,6,4,5,45.31,2022-06-04,43172547.0
36182,2022-06-04 06:00:00,2022,6,4,6,41.89,2022-06-04,43172547.0
36183,2022-06-04 07:00:00,2022,6,4,7,38.34,2022-06-04,43172547.0
36184,2022-06-04 08:00:00,2022,6,4,8,36.63,2022-06-04,43172547.0
36185,2022-06-04 09:00:00,2022,6,4,9,35.84,2022-06-04,43172547.0
36186,2022-06-04 10:00:00,2022,6,4,10,34.71,2022-06-04,43172547.0
36187,2022-06-04 11:00:00,2022,6,4,11,35.89,2022-06-04,43172547.0
36188,2022-06-04 12:00:00,2022,6,4,12,33.83,2022-06-04,43172547.0
36189,2022-06-04 13:00:00,2022,6,4,13,33.05,2022-06-04,43172547.0
36190,2022-06-04 14:00:00,2022,6,4,14,35.29,2022-06-04,43172547.0
36191,2022-06-04 15:00:00,2022,6,4,15,40.67,2022-06-04,43172547.0

# Part 2: Linear Regression

We want to establish a basic understanding of the trend from before and after the pandemic using linear regression

# Part 3: Find correlations between air quality and the year it was taken

This way, we can see if COVID-19 precautions influenced air quality or not.

In [3]:
# write code here

# Part 4: Predict air quality based on results

yeah

In [4]:
# write code here